.container{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 1rem;
    max-width: 800px;
}

.container::after{
    color: var(--background);
    position: absolute; top: 0px; left: -30px;
    z-index: -1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: '//HIRE ME//////////////';
    white-space: nowrap;
    font-size: 80px;
    opacity: 0.2;    
    font-style: italic;
    font-family: var(--f-akira);
    font-weight: 900;
}

.top_strip{
    grid-column: span 2;    
    gap: 4px;
    width: 100%;
    padding: 0.65rem;
    border-bottom: 1px dotted var(--midground);
    background: linear-gradient(to right, rgba(255,255,255, 0.2), 10%, transparent);
}
.dismiss{
    height: 30px;
    width: 30px;
    margin-left: auto;
}

.container_inner{
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.image_container{
    width: 100%;
    padding: 3rem;
    padding-right: 0px;
    text-align: center;
}
.image_container img{
    object-fit: cover;
}

/*********************************** Form ***/
.form{    
    margin-top: 1rem;
    justify-content: center;
}
.form button{
    align-self: flex-start;
}
.form label, .form input, .form textarea{
    display: block;
    width: 100%;
    font-size: large;
    transition: border 200ms ease-out;
    outline: none;
}
.form label{
    margin-bottom: 0.35rem;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
}
.form input, .form textarea{
    padding: 0.5rem;
    color: var(--text, #000);
    border-radius: 4px;
    background-color: var(--darkest, #CCC);
    border: 1px solid var(--midground);
    min-height: 2.5rem;
}

.form input:focus, .form textarea:focus{
    border-color: var(--text, #000) !important;
}

/* Psudo Images */
.checked, .errored{
    position: relative;
}
.checked::after, .errored::after{
    position: absolute; top: 1.65rem; right: 0.15rem;
    width: 22px;
    height: 22px;
    content: '';
    background-size: contain;
}
.checked::after{
    background-image: url('/static/images/form/bubble_check.svg');
}
.errored::after{
    background-image: url('/static/images/form/bubble_error.svg');
}

.form input::placeholder, .form textarea::placeholder{
    font-weight: 900;
    /* font-style: oblique; */
    font-size: small;
    font-family: var(--f-akira, inherit);
    /* text-transform: capitalize; */

}

.form textarea{
    resize: vertical;
    font-family: inherit;
}

.error{
    color: var(--background, #000 );
    background-color: var(--text, #ccc);
    padding: 0.25rem 0.5rem;
    font-weight: 900;
    font-style: oblique;
    transform-origin: top;
    margin: 0.25rem 0px;
    border-radius: 3px;
}

.bubble{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 600px){
    .container{
        top: 0px;
        right: 0px;
        width: calc(100% - 2rem);
        margin: 1rem;        
        display: block;
    }
    .container_inner{
        padding: 1.5rem;
        font-size: 14px;
    }
    .image_container{
        float: left;
        width: 40%;
        padding: 1rem;
    }
    .form{
        max-width:100%;
        width: 100%;
    }
    .top_strip img{
        width: 30px;
    }
    .dismiss{
        height: 25px;
        width: 25px;
    }

}