.container{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
    padding: 5rem 2.5rem 3rem 2.5rem;
    gap: 1.5rem;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.container::after{
    color: var(--background);
    position: absolute;
    top: 0px; left: -30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    content: '//HIRE ME//////////////';
    white-space: nowrap;
    font-size: 80px;
    opacity: 0.2;
    z-index: -1;
    font-style: italic;
    /* text-decoration:  underline dashed; */
    font-family: var(--f-akira);
    font-weight: 900;
}


.dismiss{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}
.form{
    /* padding: 1rem; */
    max-width: 800px;
    min-width: 300px;
    justify-content: center;
}
.form button{
    align-self: flex-start;
}
.form label, .form input, .form textarea{
    display: block;
    width: 100%;
    font-size: large;
    transition: border 200ms ease-out;
    outline: none;
}
.form label{
    margin-bottom: 0.35rem;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
}
.form input, .form textarea{
    padding: 0.5rem;
    color: var(--text, #000);
    border-radius: 4px;
    background-color: var(--darkest, #CCC);
    border: 1px solid var(--midground);
   min-height: 2.5rem;
}

.form input:focus, .form textarea:focus{
    border-color: var(--text, #000) !important;
}

/* Psudo Images */
.checked, .errored{
    position: relative;
}
.checked::after, .errored::after{
    position: absolute; top: 1.65rem; right: 0.15rem;
    width: 22px;
    height: 22px;
    content: '';
    background-size: contain;
}
.checked::after{
    background-image: url('/static/images/form/bubble_check.svg');
}
.errored::after{
    background-image: url('/static/images/form/bubble_error.svg');
}

.form input::placeholder, .form textarea::placeholder{
    font-weight: 900;
    font-style: oblique;
    font-size: small;
}

.form textarea{
    resize: vertical;
    font-family: inherit;
}

.message{
    font-size: large;
    font-weight: 500;
}

.error{
    color: var(--background, #000 );
    background-color: var(--text, #ccc);
    padding: 0.25rem 0.5rem;
    font-weight: 900;
    font-style: oblique;
    transform-origin: top;
    margin: 0.25rem 0px;
    border-radius: 3px;
}

.top_strip{
    position: absolute;
    top: 4px; left: 0px;
    align-items: center;
    gap: 4px;
    width: 80%;
    padding: 0.25rem;
    font-family: var(--f-akira);
    font-weight: 900;
    font-size: 12px;
    border-bottom: 1px dotted var(--midground);
    background: linear-gradient(to right, rgba(255,255,255, 0.2), 10%, transparent);
}
.top_strip img{
    width: 50px;
    height: auto;
}

.bubble{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 600px){
    .container{
        top: 0px;
        right: 0px;
        margin: 1rem;
       /*  flex-direction: column; */
        /* justify-content: center; */
    }
}