
/* Ensure nav-bar uses flexbox in all browsers */
#nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo_container{
    position: absolute;
    bottom: 60px;
    left: 10px;    
}
#nav-container{
    position: relative;
}
#nav-bar{    
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--midground, #6d6d6d);
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: right;
    position: relative;
    border: 2px solid var(--darkest);
    border-left: none;
    border-bottom: 2px solid var(--accent, #FFF); 
    z-index: 9999;
}

#nav-bar ul{
    list-style-type: none;
    margin-left: auto;
    padding-bottom: 0.25rem;
}

.link.active{
    color: var(--accent, #FFF);   
}

.link{    
    cursor: pointer;
    display: block;
    font-size: 28px;
    /* color: var(--foreground, #FFF); */
    letter-spacing: -0.01rem;
    /* font-weight: bolder; */
    padding: 13px 20px 15px 20px;    
}
button.link{
    border: none;
}

@media screen and (max-width: 600px) {
    #nav-bar, #nav-bar ul{        
        flex-direction: column;
        width: 100%;
    }
    .link{
        font-size: 26px;
        text-align: center;
        padding: 10px 20px;
    }
}
