
#nav-bar{        
    padding: 1rem;
    z-index: 99;
    background: var(--darkest);
    border-bottom: 2px solid var(--midground, #fff);
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 5px 15px rgba(0,0,0, 0.5))
}

.logo_container{
    height: 40px;
    color: var(--text, #fff);
    transform-origin: top left;
    transform: scale(0.8);
    
}
    .small-txt{
        font-weight: 500;
        font-size: 0.8rem;
        letter-spacing: 2px;
        animation: logoFade 800ms ease-out 2100ms forwards;        
        opacity: 0;
    }
    @keyframes logoFade {
        from{ opacity: 0; }
        to{ opacity: 1; }
    }


.nav-ul{
    list-style-type: none;
    /* margin-left: auto; */
    gap: 1rem;
    align-self: center;
}
.nav-ul a{
    font-size: 20px;
    padding: 0.15rem 0.25rem;
}

.nav-ul a:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {    
    #nav-bar{
        padding: 1rem;
        /* justify-content: center; */
        gap: 1rem;       
    }
    .nav-ul{
        justify-content: center;
        gap: 0.5rem;
    }
    .link{
        font-size: 26px;
        text-align: center;
        padding: 15px 25px;
    }
    .nav-ul a{
        font-size: 14px;
    }
}
