#nav-container{
    z-index: 99;
    position: relative;
}
#nav-bar{    
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 10px 10px 10px 35px;
    background-color: var(--midground, #6d6d6d);
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    position: relative;
    border: 2px solid var(--darkest);
    border-left: none;
    border-bottom: 2px solid var(--accent, #FFF); 
    z-index: 9999;
}

.logo_container{
    height: min-content;
    gap: 0.5rem;
    height: 50px;
    overflow: hidden;
}
    .small-txt{
        color: var(--darkest, #000);
        font-weight: bold;
        letter-spacing: 2px;
        animation: logoFade 800ms ease-out 2100ms forwards;        
        opacity: 0;
    }
    @keyframes logoFade {
        from{ opacity: 0; }
        to{ opacity: 1; }
    }


.nav-ul{
    list-style-type: none;
    margin-left: auto;
    gap: 0.75rem;
    align-self: flex-end;
}
.nav-ul a{
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    #nav-bar ul{   
       /*  flex-direction: column; */
        /* gap: 2px;  */
    }

    .small-txt{
        margin: auto 0px;
        font-size: 14px;
    }
    
    #nav-bar{
        padding: 1rem;
        flex-wrap: wrap;
        gap: 5px;
    }

    .logo_container{
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    #nav-bar button{
        width: 150px;
    }
    .nav-ul{
        margin-right: auto;
    }
    .link{
        font-size: 26px;
        text-align: center;
        padding: 10px 20px;
    }
}
