#nav-container{
    z-index: 99;
}

.logo_container{
    height: min-content;
    align-items: center;
    gap: 0.5rem;
}
#nav-container{
    position: relative;
}
#nav-bar{    
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 40px 20px 10px 30px;
    background-color: var(--midground, #6d6d6d);
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: right;
    position: relative;
    border: 2px solid var(--darkest);
    border-left: none;
    border-bottom: 2px solid var(--accent, #FFF); 
    z-index: 9999;
}

#nav-bar ul{
    list-style-type: none;
    margin-left: auto;
    padding-bottom: 0.25rem;
}

@media screen and (max-width: 600px) {
    #nav-bar, #nav-bar ul{        
        flex-direction: column; 
    }
    .logo_container{
        width: 100%;
        justify-content: center;  
    }
    #nav-bar button{
        width: 150px;
    }
    .link{
        font-size: 26px;
        text-align: center;
        padding: 10px 20px;
    }
}
