#nav-container{
    z-index: 99;
}


#nav-container{
    position: relative;
}
#nav-bar{    
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 10px 10px 10px 35px;
    background-color: var(--midground, #6d6d6d);
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    position: relative;
    border: 2px solid var(--darkest);
    border-left: none;
    border-bottom: 2px solid var(--accent, #FFF); 
    z-index: 9999;
}

.logo_container{
    height: min-content;
    /* align-items: flex-end; */
    /* justify-content: baseline; */
    gap: 0.5rem;
    height: 50px;
    overflow: hidden;
}
    .small-txt{
        /* background-color: var(--darkest, #000); */
        color: var(--accent, yellow);
        text-shadow: #000 0px 0px 2px;
        font-weight: bold;
        letter-spacing: 2px;
    }

.nav-ul{
    list-style-type: none;
    margin-left: auto;
    /* padding-bottom: 0.25rem; */
    gap: 0.75rem;
    align-self: flex-end;
}
.nav-ul a{
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    #nav-bar, #nav-bar ul{        
        flex-direction: column; 
    }
    .logo_container{
        width: 100%;
        justify-content: center;  
    }
    #nav-bar button{
        width: 150px;
    }
    .nav-ul{
        margin-right: auto;
    }
    .link{
        font-size: 26px;
        text-align: center;
        padding: 10px 20px;
    }
}
