.link{
    font-size: 22px;
    color: #6d6d6d;
    font-weight: 600;
    transition: all 200ms ease-out;
    height: min-content;
}
.link:hover{
    color: #4b4b4b;
}

.active{
    position: relative;
    color: var(--background, #CCC);
}

.active::after{
    filter: drop-shadow(0px, 0px, 2px, #000);
    position: absolute; top: 0px; left: 0px; content: '';
    background-color: var(--background, yellow);
    width: 100%; height: 100%;
    clip-path: polygon(
        0px 92%, 100% 92%,
        100% 100%, 0 100%
    );
}