.link{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    transition: all 200ms ease-out;
    height: min-content;
    position: relative;
    padding: 1px;
    letter-spacing: .015em;
}
.link::after, .active::after{
    position: absolute; top: 0px; left: 0px; content: '';
    background-color: #000;
    width: 100%; height: 100%;
    transition: all 300ms ease-out;
}

.link:hover{
    /* color: #3d3d3d; */
}

.active{
    position: relative;
    color: #000;
}

.link::after{
    clip-path: polygon(
        0px 91%, 0px 91%,
        0px 100%, 0px 100%
    );
}
.active::after{
    clip-path: polygon(
        0px 91%, 100% 91%,
        100% 100%, 0 100%
    );
}