.rain{
    background-repeat: repeat-y;
    animation: gradient 1s linear infinite forwards;
    background-size: 100% 50%;
    height:100px;
}

@keyframes gradient {
  0% { background-position: 0px 0%; }  
  100% { background-position: 0px 100%; }
}