.btn{
    position: relative;
    transition: all 80ms ease-in;
    transform: scale(1);
    background-color: transparent;
}
.btn:focus{
    transform: scale(.9);
}
.btn > svg{
    object-fit: cover;
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
}