
.main_container{

}
.container, .main_container{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.image{
    transform-origin: 50% 50%;
    /* position: absolute; */
    /* transform: scale(140); */
}

.pin{
    left: 50%;
    top: 50%;    
}
.pin_image{
    transform: translate(-50%, calc(-50% - 80px));    
}
