
.container{
    margin: 0 auto;
}
.container, .main_container{
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.image{
    transform-origin: 50% 50%;
    
}

.pin{
    left: 50%;
    top: 50%;    
}
.pin_image{
    transform: translate(-50%, calc(-50% - 80px));    
}
