.scroll_tools{    
    padding: 1rem 50px;
    position: fixed;
    z-index: 9998;
    top: 0px; left: 0px;
    filter: drop-shadow( 2px, 2px, 5px, #000);
    gap: 0.5rem;
    align-items: center;
}

.scroll_tools::after{
    height: 0;
}

.scroll_tools::after{
    background-color: var(--darkest, #CCC);
    z-index: -1;
}
.scroll_tools > button{
    background-size: cover;
    padding: 0.015rem;
    background-color: transparent;
    width: 30px;
    height: 30px;
    outline: 0; border: 0;
}

.btn_next, .btn_scroll{
    cursor: pointer;
}

.btn_next:active, .btn_scroll:active{
    transform: scale(1.1);    
}