.scroll_tools{    
    padding: 1rem 50px;
    position: fixed;
    z-index: 9999;
    top: 0px; left: 0px;
    filter: drop-shadow( 2px, 2px, 5px, #000);
    gap: 0.5rem;
}

.scroll_tools::after{
    height: 0;
}

.scroll_tools::after{
    background-color: var(--darkest, #CCC);
    /* clip-path: polygon(); */
    z-index: -1;
    /* transform: scale(0.98, 0.9); */
}
.scroll_tools > button{
    background-size: cover;
    padding: 0.015rem;
    background-color: transparent;
    width: 30px;
    height: 30px;
    outline: 0; border: 0;
}

.btn_next, .btn_scroll{
    cursor: pointer;
}
.btn_next:active, .btn_scroll:active{
    transform: scale(1.1);    
}

.btn_next{
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon fill="white" points="176 137.24 176 175.75 25 175.75 25 137.24 62.75 137.24 61.75 88 99.5 88 176 137.24"/></svg>'); */
}

.btn_scroll{
    /* background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon fill="white" points="99.25 37 137.5 37 137.5 187 99.25 187 99.25 149.5 62.5 149.5 62.5 112 99.25 37"/><rect fill="white" x="62" y="12.5" width="76" height="12.5"/></svg>'); */
}

