.scroll_tools{     
    padding: 0.45rem;
    position: fixed;
    z-index: 9999999;
    top: 0px; left: 0px;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--darkest, #000);
    clip-path: polygon(
        0 0, 100% 0,
        100% calc(100% - 10px), calc(100% - 10px) 100%,
        0 100%
    );
}

.scroll_tools > button{
    background-size: cover;
    padding: 0.015rem;
    background-color: transparent;
    width: 50px;
    height: 50px;
    outline: 0; border: 0;
}

.btn_next, .btn_scroll{
    cursor: pointer;
    transition: all 200ms ease-out;
}

.btn_next:active, .btn_scroll:active{
    transform: scale(1.1);    
}

.scroll_container{
    padding: 2.05rem 0 0 0;
}

@media screen and (max-width: 600px){
    .scroll_tools > button{
        width: 30px;
        height: 30px;
    }
}