.svg_container{
    justify-content: center;
}

.svg{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.light{ 
    animation: 5s infinite flicker; 
    background-color: red;
}
@keyframes flicker{
    0%{ opacity: 0.1;}  
    60%{ opacity: 0.4;}
    100%{ opacity: 0.2;}
}

.code{
    animation: 10s infinite scroll; 
}
@keyframes scroll{
    10%{ transform: translateY(-50px);}  
    60%{ transform: translateY(50px);}
    100%{ transform: translateY(0px);}
}

.body{
    animation: 10s infinite shuffle; 
}
@keyframes shuffle{
    0%{ transform: translate(0px, 0px) rotate(0deg);}  
    40%{ transform: rotate(1deg)}  
    70%{ transform: translate(1px, -1px) rotate(0deg);} 
    
    80%{ transform: translate(0px, 0px) rotate(0deg);; }
    100%{ transform: translate(0px, 0px) rotate(0deg);; }
}

.head{
    transform-origin: bottom center;
    animation: 3s infinite swing; 
}
.arm{
    transform-origin: top left;
    animation: 10s infinite armswing;
}

@keyframes swing{
    0%{  transform: translate(0px, 0px) rotate(0deg);}  
    50%{  transform: translate(1px, 1px) rotate(1deg);}   
    100%{ transform: translate(0px, 0px) rotate(0deg);}
}
@keyframes armswing{
    0%{  transform:  rotate(0deg);}  
    50%{  transform: translate(-5px, 10px) rotate(-1deg);}   
    100%{ transform:  rotate(0deg);}
}





