.container{
    overflow-x: hidden;
    margin: 4rem auto;
    display: grid;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    transition: all 200ms ease-out;
    background: none;
    transition: all 200ms ease-out;
    border-bottom: 2px solid var(--background, #ccc);
}
    .container::after{
        z-index: -1;    
        opacity: var(--opacity, 1);
        background-color: var(--color, #CCC);
        transition: inherit;
    }

.imaged{
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.imaged::after{
    background: var(--background, #CCC);
    background: linear-gradient(to bottom, var(--midground), var(--background));
    opacity: 0.5;
}
    .imaged > img{
        max-height: 200px;
         z-index: 1;
    }

.child_container{
    padding: 100px 2rem 2rem 2rem !important;
    background-color: var(--foreground, #FFF);
}

.child_container h4{
    font-size: 22px;
    margin-bottom: 5px;
}

.child_container::after{
    background-color: var(--background, #ccc);
    opacity: 0.05;
}

@media screen and (max-width: 600px) {
    .container{
        width: 1fr;
        margin: 0.75rem 1rem;        
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    .imaged{
        justify-content: flex-start;
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    }
    .imaged > img{
        max-height: 50px;
    }
    .child_container{
        padding: 1.25rem !important;        
    }
    
}