.container{
   /*  aspect-ratio: 16/9; */
    /* height: 300px; */
    position: relative;
    padding: 4rem;
    justify-content: center;
    align-content: center;
    border-bottom: 1px dotted var(--midground, #ccc);
    border-top: 2px dotted var(--background, #ccc);
    margin: 4rem 0px;
    background-color: var(--darkest);
}
.container > div, .container > img{
    z-index: 2;
    max-width: 600px;
}

.container::before, .container::after{
    position: absolute;
    font-family: var(--f-akira);    
    font-weight: 900;
    opacity: 0.75;
    content: "//";
    font-size: 40px;
}

.container::before{
    top: -0.75rem;
    left: 1rem;   
}
.container::after{
    bottom: -1rem;
    right: 1rem;    
}

.container img{
    height: min(50dvw, 300px);
    width: auto;
    float: left;
    position: relative;
}

.sticker_text{
    padding: 0.25rem;
    border-radius: 4px;
    font-family: var(--f-akira);
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 900px) {
    .container::before{
        background-size: cover;
    }
    .container img{
        width: 100%;
        height: auto;
    }
}