/* work page css */

#work-main-container{
    /* gap: 2rem; */
    /* padding: 1rem;     */
    padding: 0px 1rem 3rem 1rem;
}
#work-work-container{
    gap: 3rem;
}


.time-divider{
    position: relative;
}
.time-span{
    position: sticky;
    top: 50px;
    background-color: red;
}

.blurb_title{
    margin-bottom: 1rem;
}

.blurb_title p{
    font-size: small;
    font-style: italic;
}


.feature_box{
    padding: 0.5rem;
}
