.chipped-header{
    width: 100%; 
    position: relative;   
}

.chip-text{
    padding: 10px 20px 3px 30px;
    display: inline-block;
    font-weight: bold;
}
.chip-header-child-container{
    color: var(--darkest, #000);
    background-color: var(--foreground, #FFF);
}