.chipped_header{
    width: 100%; 
    position: relative;
}
.chip_text{
    padding: 5px 10px 3px 20px;
    display: inline-block;
    z-index: 2;
    letter-spacing: 0.5px;
}
.chip_text_small{
    padding: 5px 10px 5px 30px;
    display: inline-block;
    z-index: 2;
    letter-spacing: 1px;
}

#footer-aside div{
    flex-direction: row-reverse;
}
.child_container{
    color: var(--darkest, #000);
    background-color: var(--foreground, #FFF);
}