.slideshow-container{
    position: relative;
    padding: 1rem;
    padding-top: 355px;
}

.slideshow-image-main{
    position: absolute;
    top: 1rem; left: 50%;
    /* transform: translateX(-50%); */
    z-index: -1;
}

.slideshow-buttons{
    justify-content: center;
}