.slideshow_container{
    padding-top: 400px;
    gap: 0.5rem;
    padding-bottom: 0;
    perspective: 800px;
}

.slideshow_image_main{
    width: 100%;
    object-fit: cover;
    height: 400px;    
}

.slideshow_buttons{
    justify-content: left;
    gap: 0.5rem;   
}

.play_button{
    aspect-ratio: 1/1;
    width: 40px;   
}

/* Container */
.slideshow_button{
    padding: 0;
    background-color: transparent;
    transition: all 200ms ease-out;
}
    .slideshow_button:hover{
        transform: scale(1.1);
    }
    .slideshow_button:focus, .active{
        transform: scale(1.2);
        z-index: 2;
    }

/* image inside */
.img_btn{
    aspect-ratio: 1 / 1;
    height: 50px;
}

@media screen and (max-width: 500px){
    .slideshow_container{
        padding-top: 310px;
    }
    .slideshow_image_main{
        height: 300px;
    }
    .img_btn{
        height: 40px;
    }
}