.slideshow_container{
    padding-top: 510px;
}

.slideshow_image_main{
    width: 100%;
    object-fit: cover;
}

.slide_text{
    position: absolute;
    z-index: 999999;
    padding: 0.75rem;
    top: 0; left: 0;
    background-color: var(--foreground);
    font-weight: 600;
}

/* Container */
.slideshow_buttons{
    padding: 0.25rem;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    position: relative;
}

.play_button{
    aspect-ratio: 1/1;
    width: 40px;
    transform: scale(1) !important;
}


.slideshow_button{
    padding: 0;
    background-color: transparent;
    transition: all 200ms ease-out;
}
    .slideshow_button:hover{
        transform: scale(1.1);
    }
    .slideshow_button:focus, .active{
        transform: scale(1.2);
        z-index: 2;
    }

.progress_bar{
    background: var(--accent, yellow);
    height: 2px;
}

/* image inside */
.img_btn{
    /* aspect-ratio: 1 / 1; */
    height: 50px;
}


.link_container{
    z-index: 1;    
    color: var(--foreground, #FFF);
    padding: 8px;
    padding-right: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}
.link_container::after{
    z-index: -1;
    background-color: var(--darkest, #000);
    clip-path: polygon(
        0 30px, 20px 10px, 65% 10px, 68% 0px, 100% 0px,
        100% 100%, 0 100%
    );
}

@media screen and (max-width: 500px){
    .slideshow_container{
        padding-top: 300px !important;
    }
    .slideshow_image_main{
        height: 300px;
    }
    .img_btn{
        height: 40px;
    }
    .link_container{
        margin-left: unset;
    }
}