.container{
    margin: 1rem;
    padding: 2rem;
    padding-right: 12%;
}
.content{
    position: relative;  
    z-index: 0;
    text-shadow: 0px 0px 4px rgba(0,0,0, 0.75);
}
.content_container{
    font-size: large;
    margin: 5rem 0px;
    padding: 3rem 1rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right, rgba(255,255,255, 0.02), transparent);
}
.modal{
    right: 8%;
    top: 0px;
    height: 100dvh;
    width: 32%;    
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    opacity: 0.23;
}
.modal > *{

}
.modal_nav{
    position: fixed;  
    bottom :0px;  
    right: 0px;
    z-index: 1;
    padding: 1rem;
    filter:drop-shadow(0px, 0px, 5px, var(--darkest));
    font-style: oblique;
    /* background-color: rgba(0,0,0,0.1); */
}
.ol_nav{
    list-style-position: inside;
    /* background-color: red; */
}
.list_nav{
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--midground, #ccc);
}
.hero_container{
    position: absolute;
    top: 20%;
    width: 100%;
}
.modal_bottom{
    bottom: 0px;
    height: 50px;
    width: 50px;
    background-color: red;
}
.modal svg{
    pointer-events:none;   
    width: 100%;
    height: auto;
    z-index: -1;    
}



@media screen and (max-width: 600px){
    .modal{
        width: 100%;
        right: 0px
    }
    .content_container{
        padding: 3rem 1rem;
    }
    .container{
        padding: 1rem;
        padding-right: 10%;
    }
    .list_nav{
        padding: 0.25rem 1rem;
        cursor: pointer;
        border-radius: 0.25rem;
        border: 1px solid var(--midground, #ccc);
    }
}