


.form{
    padding: 0.5rem;
    gap: 0.25rem;
    --scale: clamp(30px, 5vw, 38px);
    /* --scale2: clamp(12px, 3vw, 18px); */
}

/* TODO :: MAKE GLOBAL STYLE */
.play_check{
    display: none;
}

.control_container{
    padding: 0.25rem;
    padding-left: 0.5rem;
    gap: 0.5rem;
    background: linear-gradient(to right, rgba(0,0,0, 0.5), transparent);
    font-size: small;
    border-radius: 0.25rem;
}

.label {
    cursor: pointer;
    width: var(--scale);
    height: var(--scale);
    background-size: cover;
    position: relative;
    display: block;
}

.fieldset{
    padding: 0.5rem;
    justify-content: left;
    border: none;
    border-radius: 0.3rem;
}
/* TODO :: MAKE GLOBAL STYLE */
.radio{
    display: none;
    position: relative;
    padding: 1rem;
}
.radio + .label{
    width: 14px;
    height: 14px;
    padding: 0.55rem;
    background-color: var(--accent); 
    border-radius: 9999px;
}

.range{
    width: 100%;
    margin: 0.5rem 0px;
    height: 3px;
    cursor: pointer;
    accent-color: var(--text);
    -webkit-appearance: none;
    appearance: none;
    background: var(--midground);
}

.range::-webkit-slider-track{
    height: 3px;
    background: var(--midground);
    border-radius: 2px;
}

.range::-webkit-slider-thumb{
    box-sizing: content-box;
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--text);
    /* border: 3px solid var(--darkest); */
    cursor: pointer;
}

.range::-moz-range-track{
    height: 2px;
    background: var(--midground);
    border-radius: 2px;
    border: none;
}

.range::-moz-range-thumb{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--midground);
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 700px){
    /* .label {        
        width: 30px;
        height: 30px;        
    }
    .radio{
        width: 16px;
        height: 16px;
    } */
}