


.form{
    padding: 0.5rem;
    gap: 0.25rem;
    --scale: clamp(30px, 8vw, 38px);
}

.play_check{
    display: none;
}

.control_container{
    padding: 0.5rem;
    gap: 0.5rem;
    background: linear-gradient(to right, rgba(0,0,0, 0.5), transparent);
    font-size: small;
    border-radius: 0.25rem;
    /* flex-wrap: nowrap; */
}

.label {
    cursor: pointer;
    width: var(--scale);
    height: var(--scale);
    background-size: cover;
    position: relative;
    display: block;
}

.fieldset{
    padding: 0.5rem;
    justify-content: left;
    border: none;
    border-radius: 0.3rem;
}

.radio_label{

}

.radio{
    display: none;
    position: relative;
}
.radio + .label{
    width: 14px;
    height: 14px;
/*     position: absolute; top: 0px; left: 0px; z-index: 1;*/
    background-color: var(--accent); 
    border-radius: 9999px;
}



.range{
    width: 100%;
    margin: 0.5rem 0px;
    height: 2px;
    cursor: pointer;
    accent-color: var(--accent);
    -webkit-appearance: none;
    appearance: none;
    background: var(--accent);
}

.range::-webkit-slider-track{
    height: 2px;
    background: var(--accent);
    border-radius: 2px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
}

.range::-moz-range-track{
    height: 2px;
    background: var(--accent);
    border-radius: 2px;
    border: none;
}

.range::-moz-range-thumb{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 700px){
    /* .label {        
        width: 30px;
        height: 30px;        
    }
    .radio{
        width: 16px;
        height: 16px;
    } */
}