:root {
  --darkest: #000;
  --background: #3d3d3d;
  --midground: #999999;
  --foreground: #272727;
  --accent: #dbf227;
  --text: #FFF;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/********************** Position */
.p-rel{ position: relative; }
.p-abs{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

/********************** Text */
.t-txt{ color: var(--text)}
.t-cap{ text-transform: uppercase;}
.t-low{ text-transform: lowercase;}
.t-bg{ color: var(--background, #ccc)}
.t-ac{ color: var(--accent, yellow); }
.t-jumbo{ 
  font-size: 5vw;
  font-size: clamp(12px, 5vw, 60px);
  font-weight: 900;
  text-transform: uppercase;
}
.t-tiny{ 
  font-size: 0.01vw;
  font-size: clamp(12px, 5vw, 60px);
  font-weight: 900;
  text-transform: uppercase;
}
.t-lg{ font-size: 32px; }
.t-bld{ font-weight: 900 !important;}
.t-it{ font-style: italic;}
.t-vs{ line-height: 1.4rem;}
.t-shout{
  font-size: 22px;
  font-weight: 400;
  line-height: 2.2rem;
}

.bg-ac{ background-color: var(--accent, yellow);}
.bg-mg{ background-color: var(--midground, #ccc);}
.bg-bg{ background-color: var(--background, #000);}


/********************** box */
.padded{ padding: 3rem }

.border-left{ border-left: 2px solid var(--accent, yellow)}
.border-right{ border-right: 2px solid var(--accent, yellow)}

.shadow{
  text-shadow: #000 0px 0px 3px;
}

.psudo{
  position: relative;
}
.psudo > *{
  z-index: 1;
}
.psudo::after{
  content: '';
  z-index: 0;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}

.list-style-none{
  list-style: none;
}

/**************************************/
/**************************** Buttons */
/**************************************/
button{
  cursor: pointer;
  outline: none;  
  border: none;
  pointer-events: all;
}

.button{
  position: relative;
  transition: all 200ms ease-out;
  padding: 0.5rem 2rem;
  font-size: 18px;
  letter-spacing: -0.25px;
  background-color: var(--background, #000);
  font-family: var(--f-lexend), 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color: var(--text, #000);
  /* border-radius: 999px; */
  border: 1px solid var(--background, #000);
}

.button.dark{
  color: var(--accent, #FFF);
  border-color: var(--darkest, #000);
  background-color: var(--background, #ccc);
}
.button.active{
  color: var(--darkest, #000) !important;
  background-color: var(--accent, yellow) !important;
}

.button:hover{
  color: var(--accent, yellow);
  background-color: var(--background, #ccc);
  border-color: var(--accent, yellow);
}

.button.invert{
  color: var(--darkest, #000);
  background-color: var(--foreground, #FFF);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

hr{ border: 1px var(--background) solid; }
.hr{ margin: 1rem 0px; }

h1, h2, h3, h4, h5, h6, .akira{
  font-family: var(--f-akira), Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
}

body {
  color: black; color: var(--text);
  background: var(--background, #3d3d3d);  
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar { width: 8px; } 
::-webkit-scrollbar-track { background: var(--background, #000); }
::-webkit-scrollbar-thumb { 
  background-color: var(--accent, yellow); 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover { background: var(--midground, #ccc); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-out;
}

/************************** FLEX */
.flex, .flex-column{
  display: flex;
  gap: 1rem;
}
.flex{ flex-wrap: wrap; }
.flex-column, .flex-column-left{ flex-direction: column; }
.flex-column-left{ 
  justify-content: left;
  text-align: left; 
}
.flex-child{ flex: 1 1 auto; }
.flex-end{ justify-content: flex-end;}
.flex-align-center{ align-items: center;}
.flex-space{ justify-content: space-around;}

.heavy{
  font-weight: bold;
  font-size: 52px;
  line-height: 3rem;
}

.page-flex{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.page-container{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.page-hero{
  background: var(--background, #000);
  background: radial-gradient(circle at 5%, var(--darkest), 60%,  var(--background), 90%, transparent);
  border-bottom: 2px solid var(--darkest, #000);
  /* border-top: 2px solid var(--darkest, #000); */
  overflow: hidden;
}
.page-hero > div{
  z-index: 2;
}

.page-center{
  max-width: 800px;
  margin: 0px auto;
}

.page_single{
  padding: 2rem;
}
.page_double, .page_triple{
    display: grid;
    /*padding: 2rem;*/
    gap: 2rem;    
    grid-template-rows: max-content;
}

.page_double{    
    grid-template-columns: repeat(2, 1fr);
}
.page_triple{    
    grid-template-columns: repeat(3, 1fr);
}
.page_third{
  grid-template-columns: 1fr 33%;
}

@media only screen and (max-width: 900px) {
  .page_double{
    
  }
  .page_triple, .page_double, .page_third{
        grid-template-rows: repeat(min-content);
        grid-template-columns: 1fr;
  }
  .page-flex{
    flex-direction: column;
  }
  .t-jumbo{ 
    font-size: 46px;
  }
}

/* TODO:: Move to work page if we don't need this elsewhere */
.scroll-table{
    width: 100%;
    border-style: none;
    table-layout: fixed;    
}
.scroll-table-caption{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.scroll-table td{
    padding: 0.25rem;    
}
.scroll-table td:nth-child(even){
    background-color: var(--darkest);
    text-align: center;
    color: white;
}
.scroll-table td{
    text-align: right;
}
.scroll-table button{
    height: 30px;
    width: 30px;
}