:root {
  --darkest: #000;
  --background: #3d3d3d;
  --midground: #999999;
  --foreground: #272727;
  --accent: #dbf227;
  --accentB: #f2272a;
  --text: #FFF;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.list-style-none{
  list-style: none;
}

.fill{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/**************************************/
/**************************** Buttons */
/**************************************/
button{
  cursor: pointer;
  outline: none;  
  border: 1px solid var(--midground, #ccc);
  pointer-events: all;
  border-radius: 4px;
}

.button{
  position: relative;
  transition: all 200ms ease-out;
  padding: 0.5rem 2rem;
  font-size: 18px;
  letter-spacing: -0.25px;
  background-color: var(--background, #000);
  font-family: var(--f-lexend), 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color: var(--text, #000);
  /* border-radius: 999px; */
  /* border: 1px solid var(--background, #000); */

}

.button.dark{
  color: var(--accent, #FFF);
  /* border-color: var(--darkest, #000); */
  background-color: var(--background, #ccc);
}
.button.active{
  border-color: var(--accent, yellow);
  color: var(--darkest, #000) !important;
  background-color: var(--accent, yellow) !important;
}

.button:hover{
  color: var(--accent, yellow);
  background-color: var(--background, #ccc);
  border-color: var(--accent, yellow);
}

.button.invert{
  color: var(--darkest, #000);
  background-color: var(--foreground, #FFF);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* hr{ border: 1px var(--background) solid; }
.hr{ margin: 1rem 0px; } */

h1, h2, h3, h4, h5, h6, .akira{
  font-family: var(--f-akira), Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
}

body {
  color: black; color: var(--text);
  background: var(--background, #3d3d3d);  
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar { width: 8px; } 
::-webkit-scrollbar-track { background: var(--background, #000); }
::-webkit-scrollbar-thumb { 
  background-color: var(--accent, yellow); 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover { background: var(--midground, #ccc); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-out;
}

/************************** FLEX */
.flex, .flex-column{
  display: flex;
  gap: 1rem;
}
.flex{ flex-wrap: wrap; }
.flex-column, .flex-column-left{ flex-direction: column; }
.flex-column-left{ 
  justify-content: left;
  text-align: left; 
}
.flex-child{ flex: 1 1 auto; }
.flex-end{ justify-content: flex-end;}
.flex-align-center{ align-items: center;}
.flex-space{ justify-content: space-around;}


/* TODO:: Move to work page if we don't need this elsewhere */
.scroll-table{
    width: 100%;
    border-style: none;
    table-layout: fixed;    
}
.scroll-table-caption{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.scroll-table td{
    padding: 0.25rem;    
}
.scroll-table td:nth-child(even){
    background-color: var(--darkest);
    text-align: center;
    color: white;
}
.scroll-table td{
    text-align: right;
}
.scroll-table button{
    height: 30px;
    width: 30px;
}

.featured{
  position: relative;
}
.featured::after{
  z-index: 99999;
  content: "XXXX";
  font-size: large;
  position: fixed;
  background-color: red;
  width: 100px;
  height: 100px;
  top: 0px;
  right: 0px;
}

.fixed-modal{
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  left: 0px;
}