@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
:root {
  --darkest: #000;
  --background: #3d3d3d;
  --midground: #999999;
  --foreground: #FFF;
  --accent: #dbf227;
  --text: #000;
}

button{
  cursor: pointer;
}

/********************** Background */
.bg-bg{ background-color: var(--background, #000); }
.bg-faded{ background-color: rgba(0,0,0, 0.4); }
.bg-fg{ background-color: var(--foreground, #999); }
.bg-dk{ background-color: var(--darkest, #000); }
.bg-ac{  background-color: var(--accent, #ff1919); }
.bg-anim{ transition: background-color 500ms; }

/************************ Text */
.tx-tx{ color: var(--text, #000); }
.tx-fg{ color: var(--foreground, #FFF); }
.tx-mg{ color: var(--midground, #FFF); }
.tx-ac{ color: var(--accent); }
.tx-cen{ text-align: center; }

/**************** Position*/
.p-rel{ position: relative; }
.p-abs{ position: absolute; top: 0; left: 0; }

.under{ z-index: -1; }
.underer{ z-index: -2; }
.fill{ width: 100%; height: 100%; }

/**** Effects **/
.shadow{ filter: drop-shadow(2px 2px 8px var(--darkest, #000)); }
.shadow-sm{ filter: drop-shadow(0px 0px 4px var(--darkest, #000)); }

.psudo{ position: relative; }
.psudo::before, .psudo::after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.faded_bg{ position: relative; }
.faded_bg::after{
    z-index: 0;
    content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background-color: var(--background, #797979);
    opacity: 0.1;
}

.feature{
    position: relative;
    width: 100%;
    background-color: var(--background, #000);
    color: var(--foreground, #FFF);
    padding: 24px 2rem 5px 1rem;   
    letter-spacing: -0.01rem;
}
.feature::after{
    content: 'feature:';
    top: 5px; left: 10px; position: absolute;
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}

/************************** Misc */
.padded{ padding: 1rem; }
.margined{ margin: 1rem; }
.unpadded{ padding: 0; }
.link.active{ color: var(--accent, #FFF);  }
.un-border{ outline: 0; border: 0; }
.pointer{ cursor: pointer; }


@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d3d3d;
    --foreground: #FFF;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black; color: var(--text);
  background: var(--background, #3d3d3d);  
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar { width: 6px; } 
::-webkit-scrollbar-track { background: var(--background, #000); }
::-webkit-scrollbar-thumb { 
  background-color: var(--accent, yellow); 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover { background: var(--midground, #ccc); }



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-out;
}


.link{
    display: block;
    line-height: 1rem;
    font-size: 30px;
    color: var(--foreground, #FFF);
    letter-spacing: -0.06rem;
    font-weight: 400;
    padding: 13px 20px 15px 20px;
}

.absolute-fill{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}


.flex, .flex-column{
  display: flex;
  gap: 1rem;
}
.flex{ flex-wrap: wrap; }
.flex-column{ flex-direction: column; }
.flex-child{ flex: 1 1 auto; }

.heavy{
  font-weight: bold;
  font-size: 52px;
  line-height: 3rem;
}

.page-title{
  
}

/* Pages */
.page-container{
  padding: 1rem 0;
}

.page-flex,
.page_double, 
.page_triple, 
.paged{
  padding: 1.25rem;
  max-width: 1000px;
  margin: 0 auto;
}

.page-flex{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.page_double, .page_triple{
    display: grid;
    gap: 1.25rem;
    grid-template-rows: max-content;
}

.page_double{    
    grid-template-columns: repeat(2, 1fr);
}
.page_triple{    
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 900px) {
  .page_double{
    
  }
  .page_triple, .page_double{
        grid-template-rows: repeat(min-content);
        grid-template-columns: 1fr;
  }
  .page-flex{
    flex-direction: column;
  }
}

.scroll-table{
    width: 100%;
    border-style: none;
    table-layout: fixed;    
}
.scroll-table-caption{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.scroll-table td{
    padding: 0.25rem;    
}
.scroll-table td:nth-child(even){
    background-color: var(--darkest);
    text-align: center;
    color: white;
    /* font-weight: bold; */
}
.scroll-table td{
    text-align: right;
}
.scroll-table button{
    height: 30px;
    width: 30px;
}