.main_container{
    padding: 0.5rem 0.15rem 0 0.5rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--background, #fff);
    position: relative;
    transition: background-color 500ms;
}
.child_container{
    color: black;
    background-color: var(--foreground, #FFF);
    color: var(--text, #000);
    border-right: 3px solid var(--darkest, #000);
    position: relative;
    padding-top: 2rem;
}