.main_container{    
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
   background-color: var(--background, #fff);
    color: var(--text, #000);
    position: relative;
    transition: background-color 500ms;
    background-repeat: repeat;
}
.child_container{
    position: relative;
    padding-top: 1.5rem;
    background-size: 10px 10px;
    background: linear-gradient(to right, transparent, 20px, var(--background, #ccc), 95%, transparent), url('../../public/static/images/dot.svg');

}

