.main_container{    
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
   background-color: var(--background, #fff);
    color: var(--text, #000);
    position: relative;
    transition: background-color 500ms;
    background-repeat: repeat;
}
.child_container{
    position: relative;   
}

