
#main-container{
    padding: 0.5rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--background);
    position: relative;
}

.child-container{
    color: black;
    background-color: var(--foreground);
    /* padding-top: 20px; */
}

#footer{
    padding: 1rem;
    background-color: var(--midground);
}

