
#main-container{
    padding: 0.5rem 0.25rem 0 0.5rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--background, #fff);
    position: relative;    
}

.child-container{
    color: black;
    background-color: var(--foreground);
    border-right: 3px solid var(--darkest, #000);
    /* padding-top: 20px; */
}

#footer{
    padding: 1rem;
    background-color: var(--midground);
    border: 3px solid var(--darkest, #000);
    border-bottom: 0;
    position: relative;
}
#footer:after{
    content: '';
    position: absolute;
    top: -20px; left: 0;
    height: 20px;
    width: 100%;
    clip-path: polygon(0 0, 100px 0, 120px 10px, 100% 10px, 100% 100%, 0 100%);
    background-color: var(--darkest, #000);
}

