
/********************** Position */
.p-rel{ position: relative; }
.p-abs{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

/********************** Text */
.t-txt{ color: var(--text)}
.t-cap{ text-transform: uppercase;}
.t-low{ text-transform: lowercase;}
.t-bg{ color: var(--background, #ccc)}
.t-ac{ color: var(--accent, yellow); }
.t-jumbo{ 
  font-size: 5vw;
  font-size: clamp(12px, 5vw, 60px);
  font-weight: 900;
  text-transform: uppercase;
}
.t-tiny{ 
  font-size: 0.01vw;
  font-size: clamp(12px, 5vw, 60px);
  font-weight: 900;
  text-transform: uppercase;
}
.t-lg{ font-size: 32px; }
.t-bld{ font-weight: 900 !important;}
.t-it{ font-style: italic;}
.t-vs{ line-height: 1.4rem;}
.t-shout{
  font-size: 22px;
  font-weight: 400;
  line-height: 2.2rem;
}
.t-boxed{
  font-size: 24px;
  padding: 3px 1rem;
  background-color: var(--darkest, #000);
  color: var(--accent, #000);
  border-bottom: 1px solid  var(--accent);
}
.t-accentB{ color: var(--accentB, green); }

.heavy{
  font-weight: bold;
  font-size: 52px;
  line-height: 3rem;
}

/********************** Backgrounds */
.bg-ac{ background-color: var(--accent, yellow);}
.bg-mg{ background-color: var(--midground, #ccc);}
.bg-txt{ 
  background-color: var(--text, #ccc);
  color: var(--background, #000);
}
.bg-bg{ background-color: var(--background, #000);}
.bg-d-to-bg{
    background: linear-gradient(to top left, var(--darkest), 50%, var(--background) );
}
.bg-dk-fade{
    background: linear-gradient(to bottom, var(--darkest), 85%, transparent );
}
.bg-fade{
  background: linear-gradient(to right, var(--darkest), 80%, transparent);
}


/********************** box */
.padded{ padding: 3rem }
.padded-smaller{ padding: 0.5rem}
.canvas{ 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.8; 
}

.border-left{ border-left: 2px solid var(--accent, yellow)}
.border-right{ border-right: 2px solid var(--accent, yellow)}

.shadow{
  text-shadow: #000 0px 0px 3px;
}

.psudo{
  position: relative;
}
.psudo > *{
  z-index: 1;
}
.psudo::after{
  content: '';
  z-index: 0;
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
}




.page-flex{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.page-container{
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.page-hero{
  background: var(--background, #000);
  background: radial-gradient(circle at 5%, var(--darkest), 60%,  var(--background), 90%, transparent);
  border-bottom: 2px solid var(--darkest, #000);
  /* border-top: 2px solid var(--darkest, #000); */
  overflow: hidden;
}
.page-hero > div{
  z-index: 2;
}

.page-center{
  max-width: 800px;
  margin: 0px auto;
}

.page_single{
  padding: 2rem;
}
.page_double, .page_triple{
    display: grid;
    /*padding: 2rem;*/
    gap: 2rem;    
    grid-template-rows: max-content;
}

.page_double{    
    grid-template-columns: repeat(2, 1fr);
}
.page_triple{    
    grid-template-columns: repeat(3, 1fr);
}
.page_third{
  grid-template-columns: 1fr 33%;
}

@media only screen and (max-width: 900px) {
  .page_double{
    
  }
  .page_triple, .page_double, .page_third{
        grid-template-rows: repeat(min-content);
        grid-template-columns: 1fr;
  }
  .page-flex{
    flex-direction: column;
  }
  .t-jumbo{ 
    font-size: 46px;
  }
}