.nav_url{
    background: transparent;
    color:  var(--accent, #FFF);
    text-align: right;
    font-size: 12px;
    padding: 2px 20px;
    position: absolute;
    z-index: 9999;
    cursor: default; 
    top: 100%; left: 0;    
    width: 100%;
    transition: font-size 500ms ease-out;
}

.scrolled{
    position: fixed;
    font-size: 14px;
    margin-bottom: 1rem;
    top: 0px;
    cursor: pointer;
}

.nav_url::before{
    content: '';
    background: var(--darkest, #000);
    position: absolute;
    z-index: -1;
    top: 0; left: 0;
    width: 100%; height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 100px) 100%, calc(100% - 120px) 50%, 0 50%);
}

.scrolled::after{
    content: '';
    background-color: var(--accent, white);
    position: absolute;
    top: -3px; right: 3px;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 50%, 100% 110%, calc(100% - 10px) 100%);    
}