.video_responsive {
    overflow: hidden;
    /* padding-bottom: 57%; */
    position: absolute;
    top: 0; left: 0;
    height: 400px; /* Make sure this is synced */
    width: 100%; 
    transition: all 200ms ease-out;
}

.video_responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}
@media screen and (max-width: 500px){
    .video_responsive{
        height:300px;/* Make sure this is synced */
    }
}