.video_responsive {
    overflow: hidden;
    padding-bottom: 57%;
    position: absolute;
    top: 0; left: 0;
    height: 400px;
    width: 100%; 
}

.video_responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
}