.video_responsive {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0;
    height: 500px; /* Make sure this is synced */
    width: 100%; 
    transition: all 200ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_responsive iframe {
    max-height: 500px; /* Make sure this is synced */
    aspect-ratio: 16 / 9;
    border: none;
}
@media screen and (max-width: 500px){
    .video_responsive{
        height:300px;/* Make sure this is synced */
    }
    .video_responsive iframe {
        aspect-ratio: 1 / 1;
        max-height: 300px;/* Make sure this is synced */
    }
}