.work_container{
    min-height: 600px;
    max-height: calc(100vh - 2rem);
    max-width: 1000px;
    min-width: 50%;
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;
    padding: 1rem;
    transition: all 500ms ease-out;
    overflow: hidden;
    /* -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);    */ 
    position: relative;
    transform: scale(0.9);
    transition: 600ms ease-out;
    opacity: 0.25;
}
.active{
    transform: scale(1);
    opacity: 1;
}

.outer_container{    
    overflow-y: auto;
    color: white;    
    background-color: transparent;
    position: relative;     
}

/* Inner Container */
.inner_container{
    padding: 1.5rem;
}

.inner_container li{
    list-style: square;
    margin-left: 2rem;
}

.inner_container h2{
    font-size: 32px;
}
.inner_container h3{
    font-size: 22px;
}
