.work_container{
    min-height: 600px;
    max-height: calc(100vh - 2rem);
    max-width: 1000px;
    min-width: 50%;
    display: grid;
    grid-template-rows: repeat( 2, min-content) 1fr;
    margin: 0 auto;
    padding: 0.75rem;
    transition: all 500ms ease-out;
    overflow: hidden;
}
    /* Background shape */
    .work_container::before{
        z-index: 0;
        content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        background-color: var(--background, #000);   
        clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 30px 100%, 0 calc(100% - 30px), 0 30px );/* Old main clip */        
    }

/* 
moved
.link_container{
    padding: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: -1px;
}
.link_container::after{
    z-index: -1;
    background-color: var(--darkest, #000);
    clip-path: polygon(
        0 30px, 20px 10px, 65% 10px, 68% 0px, 100% 0px,
        100% 100%, 0 100%
    );
} */


.outer_container{    
    overflow-y: auto;
    color: white;    
    background-color: var(--darkest, #000);
    position: relative; 
    clip-path: polygon(
        0 0, 100% 0, 
        100% 100%, 20px 100%, 
        0 calc(100% - 20px) )
}

.inner_container{
    padding-top: 0;
    padding: 1.5rem;    
}

