.work_container{
    min-height: 600px;
    max-height: calc(100vh - 2rem);
    max-width: 1000px;
    min-width: 50%;
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;
    padding: 0.75rem;
    transition: all 500ms ease-out;
    overflow: hidden;
    background-color: var(--midground, #ccc);
    position: relative;
}
    /* Background  */
    .work_container::before,
    .work_container::after{
        content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
    .work_container::before{
        z-index: 0;        
        background-color: var(--background, #000);
        background: linear-gradient(to top, var(--darkest), 65%, transparent);
    }
    .work_container::after{
        z-index: 1;
        height: 48px;
        top: calc(100% - 48px);
        width: calc(100% - 2rem);;
        background: linear-gradient(to top, var(--darkest, #000), 60%, transparent);
    }

.outer_container{    
    overflow-y: auto;
    color: white;    
    background-color: transparent;
    /* background-color: var(--darkest, #000); */
    position: relative;     
}

/* Inner Container */
.inner_container{
    padding: 1.5rem;
}

.inner_container li{
    list-style: square;
    margin-left: 2rem;
}

.inner_container h2{
    font-size: 32px;
}
.inner_container h3{
    font-size: 22px;
}
