/* #logo{
    perspective: 600px;
    transform-style: preserve-3d;
    animation: spinX 10s linear infinite;
    transform-origin: center;
}

@keyframes spinX {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(5deg) rotateY(360deg);
    }
} */