.container{
    overflow: visible;
    display: block;
    gap: 0px;
    padding: 0;
    position: relative;
}

.letter_container{
    gap: 0px !important;
}

.reader_text{
    /* Its just for robots */
    /* visibility: hidden; */
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.letter{
    display: inline-block;
    font-style: italic;
    font-weight: 900;
    font-family: var(--f-akira, inherit);
    z-index: 99;
    /* color: var(--accent, yellow); */
}