
#footer-container{    
    padding: 60px 2rem 0px 2rem;
    gap: 2rem;    
    background: var(--background, #ccc);
    border-top: 3px solid var(--darkest, #ccc);    
    background: radial-gradient( farthest-corner at top right, var(--foreground, #fff), transparent),
        linear-gradient(to top, var(--foreground, #fff), 60%, transparent);/*,
         url('/static/images/footer/pixels.png'); */
    background-blend-mode: lighten;
    flex-wrap: wrap;
}

#footer-left, #footer-right{
    flex-grow: 1;
}

.footer_links{
    color: black;    
}
.footer_links h4{
    letter-spacing: 1.5px;
    font-size: 22px;
    color: var(--background, yellow);
    padding: 0.25rem;
    padding-left: 1rem;
    clip-path: polygon(
        10px 0px, 100% 0px,
        100% 100%, 0px 100%
    );
    font-style: italic;
    background: linear-gradient(to right, var(--midground, #000), transparent);
}

.footer-button-container{
    gap: 0.5rem;
    padding: .5rem;
}

#footer-logo-container{
    display: flex;
    position: absolute;
    align-items: center;
    top: -12px;
    left: 35px;
    gap: 5px;    
    font-size: large;
    font-weight: 700;
    color: var(--accent, #000);
    text-shadow: #000 0px 0px 3px;
}

.footer-icon{
    width: 40px;
    max-height: 40px;
}
.footer-lib > img{
    max-height: 30px;
}

.footer-copy{
    font-family: var(--f-blinker, inherit);
    font-weight: 600;
    padding: 5px 10px;
    text-align: right;
    width: 100%;
    background-color: var(--background, #000);
    color: var(--foreground, #FFF);
}

@media screen and (max-width: 900px){
    #footer-left, #footer-right{
        width: 100%;
    }
}