
#footer-container{    
    padding: 60px 2rem 0px 2rem;
    gap: 2rem;    
    background: var(--background, #ccc);
    border-top: 3px solid var(--darkest, #ccc);
    background-size: 60px;
    background: radial-gradient( farthest-corner at top left, var(--foreground, #fff), var(--background, #ccc)),
        linear-gradient(to bottom, var(--darkest, #ccc), transparent),
         url('/static/images/pixels.webp');
    background-blend-mode: screen;
    flex-wrap: wrap;    
}

#footer-left, #footer-right{
    flex-grow: 1;
}

.footer_links{
    color: black;    
}
.footer_links h4{
    letter-spacing: -0.2px;
    font-size: 16px;
    color: var(--accent, yellow);
    padding: 0.25rem;
    padding-left: 1rem;
    clip-path: polygon(
        10px 0px, 100% 0px,
        100% 100%, 0px 100%
    );
    font-style: italic;   
    border-bottom: 1px solid var(--accent, yellow);
    background: linear-gradient(to right, var(--background, 70%, #000), transparent);
}

.footer_links h4,
.footer-button-container{
    transition: all 200ms ease-out;
    padding-left: 1rem !important;
    max-width: 700px;
}

.footer-button-container{
    gap: 0.5rem;
    padding: 1rem;
    background: var(--midground, #ccc);
    background: linear-gradient(to bottom right, var(--background, #000), 30%, transparent);
}

.footer-theme-btn{
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    background-color: var(--foreground, #FFF);
}
.footer-theme-btn.active{
    background-color: var(--accent, yellow);
}
.footer-theme-btn.active:hover{
    color: var(--darkest, #000);
}

#footer-logo-container{
    display: flex;
    position: absolute;
    align-items: center;
    top: -12px;
    left: 35px;
    gap: 5px;    
    font-size: large;
    font-weight: 700;
    color: var(--background, #000);    
}

.footer-icon{
    width: 40px;
    max-height: 40px;
}
.footer-lib > img{
    max-height: 30px;
}

.footer-copy{
    font-weight: 600;    
    padding: 5px 10px;
    font-size: small;
    text-align: right;
    width: 100%;
    background: linear-gradient(to top, var(--darkest, #000), 1%, transparent);
    color: var(--foreground, #FFF);
    border-bottom: 1px solid var(--foreground, yellow);
}

@media screen and (max-width: 900px){
    #footer-left, #footer-right{
        width: 100%;
    }
}