
#footer-container{    
    position: relative;
    padding: 50px 0 0 20px; 
    background-color: var(--midground, #CCC);
    clip-path: polygon(0 12px, 30px 12px, 40px 0, calc(100% - 20px) 0, 100% 0, 100% 100%, 0 100%);
    border-right: 3px solid var(--darkest, #000);
    transition: all 200ms ease-out;
}

#footer-container:after{    
    height: 16px;
    background-color: var(--midground);
    border-bottom: 2px solid var(--foreground, #FFF);
    transition: inherit;
}
#footer-container:before{
    height: 60px;
    top: 19px;
    background-color: var(--darkest);
    clip-path: polygon(0 0, 100% 0, 100% 5px, 80% 5px, 77% 12px, 20px 12px, 0 30px);
}

.footer-external{
    width: 50px;
    height: 50px;
}

.footer-lib{
    gap: 0.25rem;
}

.footer-lib > img{
    max-height: 40px;
}

.footer-copy{
    font-family: var(--f-blinker, inherit);
    font-weight: 600;
    padding: 5px 10px;
    text-align: right;
    width: 100%;
    background-color: var(--background, #000);
    color: var(--foreground, #FFF);
}

.active-theme{
    transform: scale(1.1);
}
