
#footer-container{    
    padding: 1rem 2rem 0px 2rem;
    gap: 3rem;    
    background: var(--background, #ccc);
    border-top: 6px solid var(--darkest, #ccc);    
    background: radial-gradient( farthest-corner at top right, var(--foreground, #fff), transparent),
        linear-gradient(to top, var(--foreground, #fff), 60%, transparent),
        url('/static/images/footer/pixels.png');
    background-blend-mode: lighten;
}


.footer_links{
    color: black;     
    /* background: linear-gradient(to bottom right, var(--background, #ccc), 20%, transparent); */
}
    .footer_links h4{
        letter-spacing: 1.5px;
        font-size: 18px;
        color: var(--foreground, yellow);
        padding: 0.25rem;
        padding-left: 1rem;
        clip-path: polygon(
            10px 0px, 100% 0px,
            100% 100%, 0px 100%
        );

        font-style: italic;
        background: linear-gradient(to right, var(--darkest, #000), transparent);

    }
    .footer_links div{
               
    }
    .footer_links .button{

    }
.footer_links button,
.footer_links Link{
    color: var(--darkest, #000);
}

#footer-left{
    
}
#footer-right{
    flex-grow: 1;
}

.footer-external{
    width: 40px;
    height: 40px;
}

.footer-lib{
    gap: 0.25rem;
    font-size: 16px;
}

.footer-lib > img{
    max-height: 30px;
}

.footer-copy{
    font-family: var(--f-blinker, inherit);
    font-weight: 600;
    padding: 5px 10px;
    text-align: right;
    width: 100%;
    background-color: var(--background, #000);
    color: var(--foreground, #FFF);
}
.theme_container{
    position: relative;
    overflow: hidden;
    height: min-content;
   
}


.active-theme{
    transform: scale(1.1);
}

.theme_img{
    position: absolute;
    top: 0px; left: 0px; width: 100%;    
    z-index: -2;
    opacity: 0.25;
}
.theme_container::before{
    content: ''; position: absolute; top: 0px; left: 0px;
    width: 100%; height: 100%;
    background-color: #5e5e5e;
    opacity: 0.75;
    z-index: -1;
}

@media screen and (max-width: 900px){
    #footer-left, #footer-right{
        width: 100%;
    }

}