.mainContainer{
    padding: 0.5rem; 
    display: flex;    
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.spinner{
    float: left;
    width: 50px; height: 50px;
    display: block;
    position: relative;
}

.svgLogo:first-of-type{ margin-right: -2px; }
.svgLogo{
    width: 25px; height: 50px;
}

.flipped{ transform: scale(-1, 1); }

.pen, .penOnce {
  stroke-dasharray: 1680 1680;
  stroke-dashoffset: 1680;  
  animation-name: draw;
}
.pen{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.penOnce{
    animation-duration: 3s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes draw {
  0%{
    stroke-dashoffset: 1680;
    fill: transparent;
  }

  50%{
    fill: transparent;
  }
  75%{
    fill: var(--accent, #CCC);
  }

  100% {
    stroke-dashoffset: 0;
    fill: var(--accent, #CCC);
  }
}
