.main-container{
    color: #000;
    padding: 0.5rem; 
    font-weight: bold;
}

.spinner{
    float: left;
    width: 50px; height: 50px;
    display: block;
    position: relative;
}

.svgLogo{
    width: 25px; height: 50px;
    position: absolute;
    top: 0; left: 0;
}
.flipped{
    left: 23px;
    transform: scale(-1, 1);
}

.pen, .penOnce {
  stroke-dasharray: 1680 1680;
  stroke-dashoffset: 1680;
  animation-duration: 2s;
  animation-name: draw;

  stroke: var(--darkest, #000);
}
.pen{
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.penOnce{
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out !important;
    animation-iteration-count: 1 !important;
}


@keyframes draw {
  0%{
    stroke-dashoffset: 1680;
    fill: transparent;
    /* stroke: var(--accent, #CCC); */
  }

  50%{
    fill: transparent;
    /* stroke: var(--accent, #CCC); */
  }
  75%{
    fill: var(--accent, #CCC);
    /* stroke: var(--darkest, #000); */
  }

  100% {
    stroke-dashoffset: 0;
    fill: var(--accent, #CCC);
    /* stroke: var(--darkest, #000); */
  }
}
