.container{
    position: relative;
    margin-top: -2rem;
    padding: 1rem 2rem;
    /* border-bottom: 2px solid var(--darkest, #000); */
    transition: all 1s ease-out;
    min-height: 400px;    
    /* background:  */
    /* linear-gradient(to left, var(--midground, #000), 30%, var(--darkest)); 
      url('/static/images/stripes_sm.svg'); */
    background-blend-mode: hue;
    gap: 2rem;
    overflow: visible;
    background-color: rgba(0,0,0, 0.4);
}

.mesh_container{    
   transform: scale(1.1);   
}

.inner_container{
    /* background-color: var(--darkest);  */     
    justify-content: flex-end;
    padding: 2rem;
}


@media screen and (max-width: 600px){
    .container{
        padding: 1rem;
        gap: 1px;
    }
    .inner_container{
        padding-top: 1rem;
        width: 100%;
    }
}