.container{
    position: absolute;
    z-index: 100;
    bottom: 4px;
    right: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0.25rem;
    font-size: 12px;
}

.meter{
    position: relative;
    --left: 50%;
    height: 20px;
    flex-grow: 1;
    border: 2px solid var(--text, #FFF);
    border-top: none;
}

.bar{
    position: absolute;
    bottom: 0px;
    opacity: 0.3;
    height: 60%;
}

.needle{
    transition: left 200ms ease-out;
    position: absolute;
    left: var(--left);
    top: -4px;
    width: 15px;
    height: 25px;
}