/* Home Page CSS */
#home-splash{

}
#home-splash::after{
    top: 100%;
    right: 100%;
}
#home_blurb{
    width: 100%;
    /* overflow: visible !important; */
}
#home_blurb::before, #home_blurb::after{
   
    left: -15px;
    font-size: 32px;
    font-weight: 600;
}

#home_blurb::after{
    opacity: 0.25;
     color: var(--midground, #000);
    top: -10px;
    left: -15px;
    z-index: 5;    
}
#home_blurb::before{
    font-size: 52px;
    color: var(--darkest, #000);    
    top: 95%;
    opacity: 1;
}

.skill-triple{
    padding: 3rem 4rem 2rem 4rem;
    margin-top: 0px !important;
}

#home-splash > div{
    min-height: 600px;    
    pointer-events: none;
    /* background-color: var(--darkest, #000); */
}

.feature-header{    
    align-items: center;
    padding: 1.5rem 0.5rem 1.5rem 2rem;
    gap: 0.5rem;
    z-index: 1;    
    background: var(--darkest, #000);    
    font-size: 20px;    
    margin: 20px 0px 0px 0px;
}

.feature-header svg{    
    height: 60px; width: 60px;
}


.hero-meter{
    position: relative;
}



@media only screen and (max-width: 600px) {
    .feature-header{
        font-size: 12px;
        padding: 1rem;
    }
    .feature-header svg{    
        height: 30px; width: 30px;
    }
    #home-splash > div{
        min-height: 500px;
    }
    .skill-triple{
        padding: 2rem;
    }

}