/* Home Page CSS */

.home_text{
    align-content: center;
}

.feature-header{    
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
    flex-wrap: wrap;
}

.feature-header svg{    
    height: 25px; width: 25px;
}

@media only screen and (max-width: 900px) {
    
}